<style>
    .google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
        height: 40%;
    }
    .google-maps iframe {
        position: relative;
        top: 0;
        left: 0;
        width: 100% !important;
        
    }
</style>